body{
    display: block;
    margin: 0;
    width: 100%;

 
}
.header{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background: black;
        color: white;
    
}
ul.nav{
        display: flex;
        list-style-type: none;
        gap: 16px;
    }